*{
    .particle{
    position: absolute;
    width: _width px;
    height: _height px;
    border-radius: 50%;
}
.text{
    position: absolute;
    width: _width px;
    line-height: _height px;
    opacity: 0;
    overflow: hidden;
    z-index: -1;
    content: '';
    display: inline-block;
    position: absolute;
}
.background{
    position: absolute;
    top: 0;
    height: 100vh;
    width: 0;
    animation: background-animation 2s ease-in-out 4s 1 normal forwards;
}
}